name: Check Rust
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  FOUNDRY_PROFILE: ci

jobs:
  cargo-fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Nightly
        run: |
          rustup toolchain install nightly
          rustup component add --toolchain nightly-x86_64-unknown-linux-gnu rustfmt

      - name: cargo +nightly fmt
        run: cargo +nightly fmt --all -- --check

  cargo-check:
    name: cargo check
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-check
          cache-on-failure: true

      - name: cargo check --workspace --all-features
        run: cargo check --workspace --all-features

  cargo-clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-clippy
          cache-on-failure: true

      - name: cargo clippy --workspace --all-targets --all-features -- -D warnings
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

  cargo-fix:
    name: cargo fix
    runs-on: ubuntu-latest
    steps:
      - name: Check-Out
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-fix
          cache-on-failure: true

      - name: cargo clippy --workspace --all-targets --all-features -- -D warnings
        run: |
          # Run cargo fix on the project
          cargo clippy --workspace --all-targets --all-features -- -D warnings

          # Check for local git changes
          if ! git diff --exit-code; then
              echo "There are local changes after running 'cargo clippy --workspace --all-targets --all-features' ❌"
              exit 1
          else
              echo "No changes detected after running 'cargo clippy --workspace --all-targets --all-features' ✅"
          fi

  cargo-test:
    name: cargo test
    runs-on: ubuntu-latest
    env:
      ETH_WS_URL: ${{ secrets.ETH_WS_URL }} 
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: cargo test --workspace --features ci -- --nocapture